@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
@layer base {
  html {
    @apply bg-gray-900 text-gray-900;
  }
}

/* DARK MODE */
@layer base {
  html.dark {
    @apply bg-gray-300 text-gray-100;
  }
}

/* Smooth transition */
* {
  @apply transition-colors duration-200;
}

/* Shine Text Effect */
.shine-text {
  position: relative;
  display: inline-block;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    #ffffff 30%,
    #aaa 50%,
    #ffffff 70%,
    #ffffff 100%
  );
  background-size: 200% auto;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: shine 4s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: -200% center;
  }
  50% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}


.image-container {
  transition: transform 0.35s ease;
}
.image-container:hover {
  transform: scale(1.05);
}