@tailwind base;
@tailwind components;
@tailwind utilities;

/* LIGHT MODE */
@layer base {
  html {
    @apply bg-gray-900 text-gray-900;
  }
}

/* DARK MODE */
@layer base {
  html.dark {
    @apply bg-gray-300 text-gray-100;
  }
}

/* Smooth transition */
* {
  @apply transition-colors duration-200;
}

/* LIGHT MODE INPUT */
/* input,
.ant-input,
.ant-input-password .ant-input,
.ant-input-affix-wrapper {
  color: #000;
  background-color: #fff;
}

input:focus,
.ant-input:focus,
.ant-input-password .ant-input:focus,
.ant-input-affix-wrapper:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #fff !important;
  color: #000 !important; 
} */

/* DARK MODE INPUT */
/* .dark input,
.dark .ant-input,
.dark .ant-input-password .ant-input,
.dark .ant-input-affix-wrapper {
  color: #f5f5f5;
  background-color: #1f2937;
}

.dark input:focus,
.dark .ant-input:focus,
.dark .ant-input-password .ant-input:focus,
.dark .ant-input-affix-wrapper:focus {
  background-color: #1f2937 !important;
  color: #f5f5f5 !important;
} */

